body {
    padding: 0px;
    background: #ece9e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ffffff,
        #ece9e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


#tabContent {
    background-color: #536f821c;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
    
}
